AAF/.DS_Store
.DS_Store
BetaVersion/phylip_src/cons.o
BetaVersion/phylip_src/consense
BetaVersion/phylip_src/consense.o
BetaVersion/phylip_src/dist.o
BetaVersion/phylip_src/dist_long.o
BetaVersion/phylip_src/fitch_kmerX
BetaVersion/phylip_src/fitch_kmerX.o
BetaVersion/phylip_src/fitch_kmerX_long
BetaVersion/phylip_src/fitch_kmerX_long.o
BetaVersion/phylip_src/phylip.o
BetaVersion/phylip_src/treedist
BetaVersion/phylip_src/treedist.o
BetaVersion/phylokmer/kmer_count
BetaVersion/phylokmer/kmer_countx
BetaVersion/phylokmer/kmer_merge

